::placeholder {
  color: red!important;
  opacity: 1!important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red!important;
}

#time_notes::placeholder,
#cook_time::placeholder,
#ingridient_notes1::placeholder,
#search::placeholder,
#new_tag::placeholder {
  color: grey!important;
  opacity: 1!important; /* Firefox */
}

#time_notes::-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: grey!important;
}


#cook_time::-ms-input-placeholder { /* Microsoft Edge */
 color: grey!important;
}

#ingridient_notes1::-ms-input-placeholder { /* Microsoft Edge */
 color: grey!important;
}

#search::-ms-input-placeholder { /* Microsoft Edge */
 color: grey!important;
}

#new_tag::ms-input-placeholder { /* Microsoft Edge */
 color: grey!important;
}




h3 {
    margin-bottom: 30px;
}

fieldset {
    
    margin:auto;
    margin-top:50px;
    
    
}


.enteredIng p {
    font-size: 1.2rem;
}

body {
    background-color: rgba(65, 206, 216, 0.541);
}

input, textarea {
    margin:3px;
}

p {
    word-wrap: break-word;
}

button {
    margin:3px 2px 2px 2px;
    background-color: #007bff!important;
    border-radius: 5px;
    color:#fff;
    font-size: 1.2rem;
    outline: none!important;
}

a:visited {
    color: #007bff;
}

.enteredIngBtn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 100ms, opacity 100ms;
}

.enteredIng:hover > .enteredIngBtn {
  visibility: visible;
  opacity: 1;  
  transition: visibility 0s linear 100ms, opacity 100ms;
}

.bgForm{
    background-color:#56e8e3;
}

.bgFormA{
    background-color:#e8d756;
}

/* */


.card {width:98%!important}
.red_color{ color:red; }
.black_color{ color:black; }