{% extends "base.html" %}
{% block title %}
<title>Edit Recipe</title>
{% endblock %}
{% block content %}
<br><br>
<h3 class="mx-auto text-center text-primary">Edit Recipe</h3>

<div class="mx-auto" style="width:86%">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe') }}" name="mainForm">
        <div class="row my-2 p-2 bgFormA border border-info">
            <div class="col-sm-11 col-md-4 mx-auto">
                <div class="mt-4">
                    <label class="ml-1" for="recipe_name">Recipe Name</label>
                    <input id="recipe_name" name="recipe_name" type="text" class="form-control my-0"
                        {% if recipe_name %}value="{{recipe_name}}"
                        {% else %}placeholder='required field, e.g. "Mojito with a twist"' {% endif %} required>

                </div>

                <div class="mt-4">
                    <label class="ml-1" for="recipe_description">Recipe Description</label>
                    <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="200"
                        class="form-control mt-0" {% if recipe_description %} value="{{recipe_description}}" {% endif %}
                        placeholder="required field, a brief introduction to your recipe here"
                        required>{% if recipe_description %}{{recipe_description}}{% endif %}</textarea>

                </div>

            </div>

            <div class="col-sm-11 col-md-4 mx-auto">

                <div class="mt-4">
                    <label class="ml-1" for="time">Preparation Time</label><br>
                    <input class="form-control mt-0 " id="time" name="time" type="number" min="1"
                        {% if time %}value="{{time}}" {% endif %} placeholder="time in minutes" required>
                    <label class="ml-1 mt-4" for="cook_time">Cook Time, if any</label><br>
                    <input class="form-control mt-0 " id="cook_time" name="cook_time" type="number" min="1"
                        {% if cook_time %}value="{{cook_time}}" {% endif %} placeholder="cook time in minutes, if any">
                    <label class="ml-1 mt-4" for="time_notes">Additional notes on time</label>
                    <textarea id="time_notes" name="time_notes" type="text" class="form-control mt-0"
                        {% if time %}value="{% if time_notes %}{{time_notes}}{% endif %}" {% endif %}
                        placeholder='optional additional notes on time required e.g. "plus an hour to rest"'
                        style="color:black;"></textarea>

                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-11 col-md-5 mx-auto my-2 bgFormA border border-info">
                <h3 class="mx-auto text-center text-primary">Ingredients:</h3>
                <!-- preexisting ingredients plus any the user may have just added -->
                {% if ingridients %}
                <div>
                    {% for ingridient in ingridients %}
                    {% if edit_ing and ing_to_edit == loop.index0 %}
                    <!-- if the user wants to edit an ingredient open the mini form -->
                    <div> 
                        <fieldset class="">
                            <label for="ingredient1" class="ml-1 mt-4">Ingridient:</label><br>
                            <input class="form-control mt-0" type="text" id="ingredient1" name="ingredient1"
                                {% if ingridient[0] %}value="{{ingridient[0]}}"
                                {% else %}placeholder="this field is still empty" {% endif %}><br>
                            <label for="ingridient_qty3" class="ml-1 mt-1">Ingridient Quantity3</label><br>
                            <input class="form-control mt-0" type="number" min="0.25" step="0.25" id="ingridient_qty1"
                                name="ingredient1" {% if ingridient[1] %}value="{{ingridient[1]}}"
                                {% else %}placeholder="this field is still empty" {% endif %}><br>
                            <label for="ingridient_unit3" class="ml-1 mt-1">Ingridient Unit</label><br>

                            {% if incomplete_Ing %}
                            <!-- if the user has failed to enter some required fields leave the mini form open but fill it with what he got right -->
                            <select name="ingredient1" id="ingridient_unit1" class="form-control mt-0" value=""
                                required>
                                <option selected disabled>select a measure</option>
                                <option value="ml" {% if incomplete_Ing[2] =='ml'%}selected{% endif %}>ml</option>
                                <option value="ltr" {% if incomplete_Ing[2]  =='ltr'%}selected{% endif %}>ltr</option>
                                <option value="g" {% if incomplete_Ing[2] == 'g' %} selected {% endif %}>g</option>
                                <option value="Kg" {% if incomplete_Ing[2] == 'Kg' %} selected {% endif %}>Kg</option>
                                <option value="tsp" {% if incomplete_Ing[2] == 'tsp' %} selected {% endif %}>tsp
                                </option>
                                <option value="tbsp" {% if incomplete_Ing[2] == 'tbsp' %} selected {% endif %}>tbsp
                                </option>
                                <option value="oz" {% if incomplete_Ing[2] == 'oz' %} selected {% endif %}>oz</option>
                                <option value="drops" {% if incomplete_Ing[2] == 'drops' %} selected {% endif %}>drops
                                </option>
                                <option value=" small handful of" {% if incomplete_Ing[2] == ' small handful of' %}
                                    selected {% endif %}>small handful</option>
                                <option value=" large handful of" {% if incomplete_Ing[2] == ' large handful of' %}
                                    selected {% endif %}>large handful</option>    
                                <option value="dashes" {% if incomplete_Ing[2] == 'dashes' %}
                                    selected {% endif %}>dashes</option>    
                                <option value="not applicable" {% if incomplete_Ing[2] == 'not applicable' %} selected
                                    {% endif %}>fraction or not applicable</option>
                                <option value="loose" {% if incomplete_Ing[2] == 'loose' %} selected {% endif %}>just
                                    one, loose</option>
                            </select>

                            {% else %}
                            <select name="ingredient1" id="ingridient_unit1" value="" class="form-control mt-0"
                                required>
                                <option selected disabled>select a measure</option>
                                <option value="ml" {% if ingridient[2] =='ml'%}selected{% endif %}>ml</option>
                                <option value="ltr" {% if ingridient[2]  =='ltr'%}selected{% endif %}>ltr</option>
                                <option value="g" {% if ingridient[2] == 'g' %} selected {% endif %}>g</option>
                                <option value="Kg" {% if ingridient[2] == 'Kg' %} selected {% endif %}>Kg</option>
                                <option value="tsp" {% if ingridient[2] == 'tsp' %} selected {% endif %}>tsp</option>
                                <option value="tbsp" {% if ingridient[2] == 'tbsp' %} selected {% endif %}>tbsp</option>
                                <option value="oz" {% if ingridient[2] == 'oz' %} selected {% endif %}>oz</option>
                                <option value="drops" {% if ingridient[2] == 'drops' %} selected {% endif %}>drops
                                </option>
                                <option value=" small handful of" {% if ingridient[2] == ' small handful of' %} selected
                                    {% endif %}>small handful</option>
                                <option value=" large handful of" {% if ingridient[2] == ' large handful of' %} selected
                                    {% endif %}>large handful</option>    
                                <option value="dashes" {% if ingridient[2] == 'dashes' %} selected
                                    {% endif %}>dashes</option>    
                                <option value="not applicable" {% if ingridient[2] == 'not applicable' %} selected
                                    {% endif %}>fraction or not applicable</option>
                                <option value="loose" {% if ingridient[2] == 'loose' %} selected {% endif %}>loose</option>
                            </select>
                            {% endif %}
                            <br>
                            <label for="ingridient_notes3" class="ml-1 mt-4">Ingridient notes</label><br>
                            <textarea class="form-control mt-0" type="text" id="ingridient_notes1" name="ingredient1"
                                placeholder='notes on this ingredient e.g. "peeled"'
                                {% if ingridient[3] %}value="{{ingridient[3]}}"
                                {% endif %}>{% if ingridient[3] %}{{ingridient[3]}}{% endif %}</textarea><br>

                            <button style="display: inline;"
                                formaction="{{url_for('edit_recipe')}}?add_ingridient&editIng={{loop.index0}}"
                                type="submit" onclick="keepFields()">Update
                                ingredient</button>

                            <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?cancel_ingredient"
                                type="submit" onclick="keepFields()">cancel
                                editing this ingredient
                            </button>

                        </fieldset>
                    </div>
                    {% else %}
                    <div style="display:block;" class="enteredIng">
                         <!--any preexisting ingredients plus any she may have added, list them down -->
                        <p style="display: inline;">
                            {% if ingridient[2] == 'not applicable' %}{% if ingridient[1]|string == '0.5'  %}1/2
                            {% elif ingridient[1]|string == '0.25'  %}1/4 {% elif ingridient[1]|string == '0.75'  %}3/4
                            {% elif ingridient[1]|string == '1'  %}
                            {% else %}{{ingridient[1]}}{% endif %}{% elif ingridient[2] != 'not applicable' %}{{ingridient[1]}}{% endif %}
                            {% if ingridient[2] != 'not applicable' %}
                            {% if ingridient[2] == 'drops' %}{% if (ingridient[1])|string == '1'  %}drop{% else %}{{ingridient[2]}}{%endif%}{{ingridient[2]}}{% else %}{{ingridient[2]}}{% endif %}{% endif %}
                            {{ingridient[0]}}{% if ingridient[3] %},{% endif %} {{ingridient[3]}}</p>
                        <button class=""
                            formaction="{{url_for('edit_recipe')}}?can_add_ing=True&afterIng={{loop.index0}}"
                            type="submit" onclick="keepFields()"><i class="fas fa-plus text-light"></i></button>
                        <i class="fas fa-wrench text-primary"></i>
                        <button style="display: inline;" class="enteredIngBtn bg-info"
                            formaction="{{url_for('edit_recipe')}}?ingridient_pos_up={{loop.index0}}"
                            onclick="keepFields()"><i class="fas fa-arrow-up text-light"></i></button>
                        <button style="display: inline;" class="enteredIngBtn bg-info"
                            formaction="{{url_for('edit_recipe')}}?ingridient_pos_down={{loop.index0}}"
                            onclick="keepFields()"><i class="fas fa-arrow-down text-light"></i></button>




                        <button class="enteredIngBtn bg-danger" style="display: inline;" type="button"
                            onclick="keepFields()">
                            <a href=" {{url_for('edit_recipe')}}?del_ing=True&ing_to_del={{loop.index0}}"><i
                                    class="fas fa-trash-alt text-light"></i></a>
                        </button>

                        <button class="enteredIngBtn bg-warning" style="display: inline;" type="button"
                            onclick="keepFields()">
                            <a href=" {{url_for('edit_recipe')}}?edit_ing=True&ing_to_edit={{loop.index0}}"><i
                                    class="far fa-edit text-light"></i></a>
                        </button>


                    </div>
                    {% endif %}
                    {% if can_add_ing and afterIng == loop.index0 %}
                    <!-- if the user wants to add an ingredient, open the mini form -->
                    <div>
                        <!-- if the user has failed to enter some required fields leave the mini form open but fill it with what he got right -->
                        <fieldset>
                            <label for="ingredient1" class="ml-1 mt-1">Ingridient:</label><br>
                            <input class="form-control mt-0" type="text" id="ingredient1" name="ingredient1"
                                {% if incomplete_Ing[0] %}value="{{incomplete_Ing[0]}}"
                                {% else %}placeholder="this field is still empty" {% endif %}><br>
                            <label for="ingridient_qty3" class="ml-1 mt-1">Ingridient Quantity</label><br>
                            <input class=" form-control form-control mt-0" type="number" min="0.25" step="0.25"
                                id="ingridient_qty1" name="ingredient1"
                                {% if incomplete_Ing[1] %}{% if incomplete_Ing[1]|string == '0.5' %}value="1/2"
                                {% else %} value="{{incomplete_Ing[1]}}"
                                {% endif %}{% else %}placeholder="this field is still empty" {% endif %}}><br>
                            <label for="ingridient_unit3" class="ml-1 mt-1">Ingridient Unit</label><br>

                            <select name="ingredient1" id="ingridient_unit1" class="red_color form-control mt-0">
                                <option value="">select a measure</option>
                                <option value="ml"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='ml'%}selected{% endif %}>ml
                                </option>
                                <option value="ltr"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='ltr'%}selected{% endif %}>ltr
                                </option>
                                <option value="g"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='g'%}selected{% endif %}>g
                                </option>
                                <option value="Kg"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='Kg'%}selected{% endif %}>Kg
                                </option>
                                <option value="tsp"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='tsp'%}selected{% endif %}>tsp
                                </option>
                                <option value="tbsp"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='tbsp'%}selected{% endif %}>
                                    tbsp</option>
                                <option value="oz"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='oz'%}selected{% endif %}>oz
                                </option>
                                <option value="drops"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='drops'%}selected{% endif %}>
                                    drops</option>
                                <option value=" small handful of"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  ==' small handful of'%}selected{% endif %}>
                                    small handful of</option>
                                <option value=" large handful of"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  ==' large handful of'%}selected{% endif %}>
                                    large handful of</option>
                                <option value="dashes"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2]  =='dashes'%}selected{% endif %}>
                                    dashes</option>    
                                <option value="not applicable"
                                    {% if incomplete_Ing[2] and incomplete_Ing[2] == 'not applicable' %} selected
                                    {% endif %}>fraction or not applicable</option>
                                <option value="loose" {% if incomplete_Ing[2] and incomplete_Ing[2] == 'loose' %}
                                    selected {% endif %}>loose</option>
                            </select>
                            <br>
                            <label for="ingridient_notes3" class="ml-1 mt-4">Ingridient Notes</label><br>
                            <textarea class="form-control mt-0" type="text" id="ingridient_notes1" name="ingredient1"
                                placeholder='notes on this ingredient e.g. "peeled"'
                                {% if incomplete_Ing[3] %}value="{{incomplete_Ing[3]}}"
                                {% endif %}>{% if incomplete_Ing[3] %}{{incomplete_Ing[3]}}{% endif %}</textarea><br>
                            <button style="display: inline;"
                                formaction="{{url_for('edit_recipe')}}?add_ingridient&can_add_ing=True&afterIng={{loop.index0}}"
                                type="submit" onclick="keepFields()">Add
                                ingredient</button>

                            <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?cancel_ingredient"
                                type="submit" onclick="keepFields()">cancel
                                adding this ingredient
                            </button>

                            <div class="col s12 center-align">


                            </div>

                        </fieldset>
                    </div>
                    {% endif %}




                    <br>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- if no ingredient has been added so far -->
                {% if not ingridients %}
                <div>
                    <fieldset>

                        <legend>Enter at least one ingredient</legend>

                        <label for="ingredient1" class="ml-1 mt-1">Ingridient:</label><br>
                        <input class="form-control mt-0" type="text" id="ingredient1" name="ingredient1"
                            {% if incomplete_Ing[0] %}value="{{incomplete_Ing[0]}}" {% else %}
                            placeholder="required field" {% endif %} required><br>
                        <label for="ingridient_qty3" class="ml-1 mt-1">Ingridient Quantity:</label><br>
                        <input class="form-control mt-0" type="number" min="0.25" step="0.25" id="ingridient_qty1"
                            name="ingredient1" {% if incomplete_Ing[1] %}value="{{incomplete_Ing[1]}}" {% else %}
                            placeholder="required field" {% endif %} required><br>
                        <label for="ingridient_unit3" class="ml-1 mt-1">Ingridient Unit:</label><br>

                        <select name="ingredient1" id="ingridient_unit1" class="red_color form-control mt-0" required>
                            <option selected disabled value="">select a measure</option>
                            <option value="ml">ml</option>
                            <option value="ltr">ltr</option>
                            <option value="g">g</option>
                            <option value="Kg">Kg</option>
                            <option value="tsp">tsp</option>
                            <option value="tbsp">tbsp</option>
                            <option value="oz">oz</option>
                            <option value="drops">drops</option>
                            <option value=" small handful of">small handful of</option>
                            <option value=" large handful of">large handful of</option>
                            <option value="dashes">dashes</option>
                            <option value="not applicable">fraction or not applicable</option>
                            <option value="loose">loose</option>
                        </select>

                        <label for="ingridient_notes3" class="ml-1 mt-4">Ingridient notes</label><br>
                        <textarea class="form-control mt-0" type="text" id="ingridient_notes1" name="ingredient1"
                            {% if incomplete_Ing[3] %}value="{{incomplete_Ing[3]}}" {% else %}
                            placeholder='optional notes on this ingredient e.g. "peeled"' {% endif %}></textarea><br>
                        <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?add_ingridient"
                            type="submit" onclick="keepFields()">Add
                            ingredient</button>




                    </fieldset>
                </div>
                {% endif %}
            </div>

            <br>

            <div class="col-sm-11 col-md-4 mx-auto my-2 bgFormA border border-info">
                <h3 class="mx-auto text-center text-primary">Method:</h3>
                <!-- any preexisting step, and any she may have added, -->
                {% if steps %}
                <div>
                    {% for step in steps %}
                    {% if edit_step and step_to_edit == loop.index0 %}
                    <div>

                        <label for="step">Step:</label><br>
                        <input class="form-control" type="text" id="step" name="step"
                            {% if step[step_to_edit] %}value="{{step}}"
                            {% else %}placeholder="this field is still empty" {% endif %}><br>
                        <button style="display: inline;"
                            formaction="{{url_for('edit_recipe')}}?add_step&step_to_edit={{loop.index0}}"
                            type="submit">Edit
                            Step</button>

                        <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?cancel_step"
                            type="submit" onclick="keepFields()">cancel
                            editing this step
                        </button>

                    </div>
                    {% else %}
                    <div style="display:block;" class="enteredIng">
                        <h6>Step {{ loop.index}}</h6>
                        <p style="display: inline;">{{step}}</p>
                        <button formaction="{{url_for('edit_recipe')}}?can_add_step=True&afterStep={{loop.index0}}"
                            type="submit" onclick="keepFields()"><i class="fas fa-plus text-light"></i></button>

                        <i class="fas fa-wrench text-primary"></i>

                        <button style="display: inline;" class="enteredIngBtn bg-info"
                            formaction="{{url_for('edit_recipe')}}?step_pos_up={{loop.index0}}" onclick="keepFields()">
                            <i class="fas fa-arrow-up text-light"></i>
                        </button>
                        <button style="display: inline;" class="enteredIngBtn bg-info"
                            formaction="{{url_for('edit_recipe')}}?step_pos_down={{loop.index0}}"
                            onclick="keepFields()">
                            <i class="fas fa-arrow-down text-light"></i></button>


                        <button class="enteredIngBtn bg-danger" style="display: inline;" type="button"
                            onclick="keepFields()">
                            <a href="{{url_for('edit_recipe')}}?del_step=True&step_to_del={{loop.index0}}"><i
                                    class="fas fa-trash-alt text-light"></i></a>
                        </button>

                        <button class="enteredIngBtn bg-warning" style="display: inline;" type="button"
                            onclick="keepFields()">
                            <a href=" {{url_for('edit_recipe')}}?edit_step=True&step_to_edit={{loop.index0}}"><i
                                    class="far fa-edit text-light"></i></a>
                        </button>
                    </div>
                    {% endif %}
                    
                    <br>
                    <!-- if the user wants to add a step -->
                    {% if can_add_step and afterStep == loop.index0 %}
                    <div>

                        <label for="step">Step:</label><br>
                        <textarea class="form-control" id="step" name="step" minlength="5" maxlength="2000"
                            {% if recipe_description %} value="{{recipe_description}}" {% endif %}
                            placeholder="this field is still empty"
                            {% if ingredient %}required{% endif %}></textarea><br>
                        <button style="display: inline;"
                            formaction="{{url_for('edit_recipe')}}?add_step&afterStep={{loop.index0}}" type="submit">Add
                            Step</button>

                        <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?cancel_step"
                            type="submit" onclick="keepFields()">cancel
                            adding this step
                        </button>

                    </div>
                    {% endif %}


                    <br>
                    {% endfor %}
                </div>
                {% endif %}


                {% if not steps %}
                <div>

                    <div>
                        <fieldset>
                            <legend>Enter at least one step</legend>

                            <label for="step">Step:</label><br>
                            <textarea class="form-control" id="step" name="step" minlength="5" maxlength="2000"
                                {% if recipe_description %} value="{{recipe_description}}" {% endif %}
                                placeholder="this field is still empty"
                                {% if ingredient %}required{% endif %}></textarea><br>

                            <button style="display: inline;" formaction="{{url_for('edit_recipe')}}?add_step"
                                type="submit" onclick="keepFields()">Add
                                step</button>
                        </fieldset>
                    </div>

                    <br><br>
                </div>
                {% endif %}
            </div>
        </div>
        <br>


        <div id="tag" class="my-2 p-2 bgFormA border border-info">
            <h3 class="mx-auto text-center text-primary">Tags:</h3>
            <div class="row mr-auto" style="width:70%;">
                <!-- select box to be filled with tags from the db,- the preexisting and the ones already added -->
                <div class="col-sm-11 col-md-4 mx-auto mt-4">
                    <label for="sel_tags">select an existing tag</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text ">
                                <input type="radio" id="sel_tags" name="tag" value="tags" class="m-auto">
                            </div>
                        </div>
                        <select id="pick_tag" class="form-control" name="pick_tag" required disabled>
                            {% if tags %}
                            <option selected disabled>select an existing tag</option>
                            {% for tag in tags %}
                            <option value="{{tag.tag}}">{{tag.tag}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <!-- user can create a tag of his own -->
                <div class="col-sm-11 col-md-4 mx-auto mt-4">
                    <label for="new_tag">insert your own tag</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" id="other_tag" name="tag" class="m-auto" value="tags">
                            </div>
                        </div>

                        <input id="new_tag" class="form-control m-0" name="new_tag" type="text"
                            placeholder="insert your own tag" required disabled="true">

                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-10  mx-auto mt-4" style="display: flex; justify-content: left;">
                    <button id="addTagBtn" type="submit" value="addTagBtn"
                        formaction="{{url_for('edit_recipe')}}?addTagBtn" onclick="keepFields()">Add Tag</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10  mx-auto mt-4" style="display: flex; justify-content: left;">
                    <div id="tagList" style="list-style: none ;">
                        <!--any preexisting tag, and any added tags, show them as pills -->
                        {% if tagsInput %}
                        {% for tag in tagsInput %}
                        <div style="display: inline;">
                            <button formaction="{{url_for('edit_recipe')}}?delTag={{tag}}" onclick="keepFields()"
                                class="badge badge-pill my-1"
                                style="background-color: #17a2b8!important; outline: none!important;">
                                <span class="align-text-top p-0 m-0 text-white" style="font-size:1.2rem">{{tag}} <span
                                        class="badge badge-pill badge-secondary " style="font-size:1.2rem"><span
                                            class="align-text-middle p-0 m-0">X</span>
                                    </span></span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4  mx-auto mt-4">
                <br><br><br>
                {% if session.user %}
                <div class="">
                    <input id="author" name="author" type="hidden" class="" value="{{session.user}}" placeholder="">
                </div>
                {% endif %}

                <!-- Edit Recipe to appear enabled only when minimum required fileds have been filled -->
                {% if not ingridients %}
                {% if not steps %}
                <div class="mx-auto ">
                    <button style="display: block;" type="submit" class="mx-auto "
                        formaction="{{url_for('edit_recipe')}}?editRecipe=True" disabled onclick="clearFields()">
                        Edit Recipe
                    </button>
                </div>
                {% else %}
                <div class="">
                    <button style="display: block;" type="submit" class="mx-auto "
                        formaction="{{url_for('edit_recipe')}}?editRecipe=True" disabled onclick="clearFields()">
                        Edit Recipe
                    </button>
                </div>
                {% endif %}
                {% else %}
                {% if  steps %}
                <div class="">
                    <button style="display: block;" type="submit" class="mx-auto "
                        formaction="{{url_for('edit_recipe')}}?editRecipe=True" onclick="clearFields()">
                        Edit Recipe
                    </button>
                </div>
                {% else %}
                <div class="">
                    <button style="display: block;" type="submit" class="mx-auto "
                        formaction="{{url_for('edit_recipe')}}?editRecipe=True" disabled onclick="clearFields()">
                        Edit Recipe
                    </button>
                </div>

                {% endif  %}
                {% endif  %}

                <br>
                <div>
                    <button style="display: block;" type="button" onclick="clearFields()" class="mx-auto ">
                        <a style=" color:white!important;" href="{{ url_for('recipe', recipe_id=recipe_id) }}">Cancel
                            this process</a>
                    </button>
                </div>
                <br>
            </div>

        </div>
    </form>
</div>
<br><br>


{% endblock %}

{% block extraScript %}
<script src="{{ url_for('static', filename='js/script_edit_r.js') }}"></script>
{% endblock %}