{% extends "base.html" %}
{% block content %}
<br><br>
    <div class="row">
        <div class="col-sm-10 col-lg-8 mx-auto">
            <div class="card-panel">
                {% if session.user %}
                {% if session.user == username %}
                    <h3 class="text-center">
                       Your Recepies, {{ username }}
                    </h3>
                {% else %}     
                    <h3 class="text-center">
                        {{ username }}'s Recepies
                    </h3>
                {% endif %}    
                {% else %}     
                    <h3 class="text-center">
                        {{ username }}'s Recepies
                    </h3>
                {% endif %}

            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
                    <div class="col-sm-10 col-lg-8 mx-auto">
                        {% for recipe in recipes %}
                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">{{ recipe.recipe_name }}</a>
                            {% if session.user %}
                    {% if session.user|lower == recipe.author|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" onclick="keepFields()" id="recipe_name">
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow" onclick="keepFields()">
                            Edit Recipe <i class="fas fa-plus-square right"></i>
                        </button>
                    </a>
                    {% endif %}
                    {% if session.user|lower == recipe.author|lower or session.user|lower == 'admin' %}
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id, username=recipe.author) }}">
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Delete Recipe <i class="fas fa-plus-square right"></i>
                        </button>
                    </a>
                    {% endif %}
                    {% endif %}
                <br>
                {{ recipe.recipe_description }}<br>
                <p>Preparation Time: {{ recipe.time[0] }} minutes</p><br>
                {% if recipe.time[1] %}<p>Cook Time: {{ recipe.time[1] }} minutes</p><br>{% endif %}
                {% if recipe.time[2] %}<p>{{ recipe.time[2] }}</p><br>{% endif %}
                {{ recipe.tags }}<br>
                {% if not session.user %}
                {{ recipe.author }}<br>
                {% endif %}
            <br>
                {% endfor %}
        </div>
    </div>

{% endblock %}